/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5 avr. 2018, 12:40:23
    Author     : stefanos
*/

.label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    
}


.text-field  {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #6495ED;
    
}

.button {
    -fx-font: 16px "Serif";
    -fx-padding: 10;
    -fx-background-color: #CCFF99;
}
.table-row-cell {
    -fx-font: 20px "Serif";
    -fx-border-color: red;
-fx-table-cell-border-color:red;
        
    
}


