



.A {
    -fx-border-color: black;
    -fx-background-position: center;
    -fx-background-size: stretch;
    -fx-background-image: url("../images/lettre/a.png");
    
}

.B {
    -fx-border-color: black;
    -fx-background-position: center;
    -fx-background-size: stretch;
    -fx-background-image: url("../images/lettre/b.png");
    
}

.C {
    -fx-border-color: black;
    -fx-background-position: center;
    -fx-background-size: stretch;
    -fx-background-image: url("../images/lettre/c.png");
    
}

.D {
    -fx-border-color: black;
    -fx-background-position: center;
    -fx-background-size: stretch;
    -fx-background-image: url("../images/lettre/d.png");
    
}

.E {
    -fx-border-color: black;
    -fx-background-position: center;
    -fx-background-size: stretch;
    -fx-background-image: url("../images/lettre/e.png");
    
}

.F {
    -fx-border-color: black;
    -fx-background-position: center;
    -fx-background-size: stretch;
    -fx-background-image: url("../images/lettre/f.png");
    
}

.G {
    -fx-border-color: black;
    -fx-background-position: center;
    -fx-background-size: stretch;
    -fx-background-image: url("../images/lettre/g.png");
    
}

.H {
    -fx-border-color: black;
    -fx-background-position: center;
    -fx-background-size: stretch;
    -fx-background-image: url("../images/lettre/h.png");
    
}
.I {
    -fx-border-color: black;
    -fx-background-position: center;
    -fx-background-size: stretch;
    -fx-background-image: url("../images/lettre/i.png");
    
}
.J {
    -fx-border-color: black;
    -fx-background-position: center;
    -fx-background-size: stretch;
    -fx-background-image: url("../images/lettre/j.png");
    
}
.K {
    -fx-border-color: black;
    -fx-background-position: center;
    -fx-background-size: stretch;
    -fx-background-image: url("../images/lettre/K.png");
    
}

.L {
    -fx-border-color: black;
    -fx-background-position: center;
    -fx-background-size: stretch;
    -fx-background-image: url("../images/lettre/L.png");
    
}

.M {
    -fx-border-color: black;
    -fx-background-position: center;
    -fx-background-size: stretch;
    -fx-background-image: url("../images/lettre/M.png");
    
}

.N {
    -fx-border-color: black;
    -fx-background-position: center;
    -fx-background-size: stretch;
    -fx-background-image: url("../images/lettre/N.png");
    
}

.O {
    -fx-border-color: black;
    -fx-background-position: center;
    -fx-background-size: stretch;
    -fx-background-image: url("../images/lettre/O.png");
    
}

.P {
    -fx-border-color: black;
    -fx-background-position: center;
    -fx-background-size: stretch;
    -fx-background-image: url("../images/lettre/P.png");
    
}

.Q {
    -fx-border-color: black;
    -fx-background-position: center;
    -fx-background-size: stretch;
    -fx-background-image: url("../images/lettre/Q.png");
    
}

.R {
    -fx-border-color: black;
    -fx-background-position: center;
    -fx-background-size: stretch;
    -fx-background-image: url("../images/lettre/R.png");
    
}

.S {
    -fx-border-color: black;
    -fx-background-position: center;
    -fx-background-size: stretch;
    -fx-background-image: url("../images/lettre/S.png");
    
}

.T {
    -fx-border-color: black;
    -fx-background-position: center;
    -fx-background-size: stretch;
    -fx-background-image: url("../images/lettre/T.png");
    
}
.U {
    -fx-border-color: black;
    -fx-background-position: center;
    -fx-background-size: stretch;
    -fx-background-image: url("../images/lettre/U.png");
    
}
.V {
    -fx-border-color: black;
    -fx-background-position: center;
    -fx-background-size: stretch;
    -fx-background-image: url("../images/lettre/V.png");
    
}
.W {
    -fx-border-color: black;
    -fx-background-position: center;
    -fx-background-size: stretch;
    -fx-background-image: url("../images/lettre/W.png");
    
}
.X {
    -fx-border-color: black;
    -fx-background-position: center;
    -fx-background-size: stretch;
    -fx-background-image: url("../images/lettre/X.png");
    
}
.Y {
    -fx-border-color: black;
    -fx-background-position: center;
    -fx-background-size: stretch;
    -fx-background-image: url("../images/lettre/Y.png");
    
}
.Z {
    -fx-border-color: black;
    -fx-background-position: center;
    -fx-background-size: stretch;
    -fx-background-image: url("../images/lettre/Z.png");
    
}




