
.un {
    -fx-border-color: black;
    -fx-background-position: center;
    -fx-background-size: stretch;
    -fx-background-image: url("../images/nombre/01.jpg");
    
}

.deux {
    -fx-border-color: black;
    -fx-background-position: center;
    -fx-background-size: stretch;
    -fx-background-image: url("../images/nombre/02.jpg");
    
}

.trois {
    -fx-border-color: black;
    -fx-background-position: center;
    -fx-background-size: stretch;
    -fx-background-image: url("../images/nombre/03.jpg");
    
}

.quatre {
    -fx-border-color: black;
    -fx-background-position: center;
    -fx-background-size: stretch;
    -fx-background-image: url("../images/nombre/04.jpg");
    
}

.cinq {
    -fx-border-color: black;
    -fx-background-position: center;
    -fx-background-size: stretch;
    -fx-background-image: url("../images/nombre/05.jpg");
    
}

.six {
    -fx-border-color: black;
    -fx-background-position: center;
    -fx-background-size: stretch;
    -fx-background-image: url("../images/nombre/06.jpg");
    
}

.sept {
    -fx-border-color: black;
    -fx-background-position: center;
    -fx-background-size: stretch;
    -fx-background-image: url("../images/nombre/07.jpg");
    
}

.huit {
    -fx-border-color: black;
    -fx-background-position: center;
    -fx-background-size: stretch;
    -fx-background-image: url("../images/nombre/08.jpg");
    
}
.neuf {
    -fx-border-color: black;
    -fx-background-position: center;
    -fx-background-size: stretch;
    -fx-background-image: url("../images/nombre/09.jpg");
    
}
.dix {
    -fx-border-color: black;
    -fx-background-position: center;
    -fx-background-size: stretch;
    -fx-background-image: url("../images/nombre/10.jpg");
    
}
.onze {
    -fx-border-color: black;
    -fx-background-position: center;
    -fx-background-size: stretch;
    -fx-background-image: url("../images/nombre/11.jpg");
    
}
.douze {
    -fx-border-color: black;
    -fx-background-position: center;
    -fx-background-size: stretch;
    -fx-background-image: url("../images/nombre/12.jpg");
    
}
.treize {
    -fx-border-color: black;
    -fx-background-position: center;
    -fx-background-size: stretch;
    -fx-background-image: url("../images/nombre/13.jpg");
    
}
.quatorze {
    -fx-border-color: black;
    -fx-background-position: center;
    -fx-background-size: stretch;
    -fx-background-image: url("../images/nombre/14.jpg");
    
}
.quinze {
    -fx-border-color: black;
    -fx-background-position: center;
    -fx-background-size: stretch;
    -fx-background-image: url("../images/nombre/15.jpg");
    
}
.seize {
    -fx-border-color: black;
    -fx-background-position: center;
    -fx-background-size: stretch;
    -fx-background-image: url("../images/nombre/16.jpg");
    
}
.dixsept {
    -fx-border-color: black;
    -fx-background-position: center;
    -fx-background-size: stretch;
    -fx-background-image: url("../images/nombre/17.jpg");
    
}
.dixhuit {
    -fx-border-color: black;
    -fx-background-position: center;
    -fx-background-size: stretch;
    -fx-background-image: url("../images/nombre/18.jpg");
    
}
.dixneuf {
    -fx-border-color: black;
    -fx-background-position: center;
    -fx-background-size: stretch;
    -fx-background-image: url("../images/nombre/19.jpg");
    
}
.vingt {
    -fx-border-color: black;
    -fx-background-position: center;
    -fx-background-size: stretch;
    -fx-background-image: url("../images/nombre/20.jpg");
    
}
.vingtun {
    -fx-border-color: black;
    -fx-background-position: center;
    -fx-background-size: stretch;
    -fx-background-image: url("../images/nombre/21.jpg");
    
}
.vingtdeux {
    -fx-border-color: black;
    -fx-background-position: center;
    -fx-background-size: stretch;
    -fx-background-image: url("../images/nombre/22.jpg");
    
}
.vingttrois {
    -fx-border-color: black;
    -fx-background-position: center;
    -fx-background-size: stretch;
    -fx-background-image: url("../images/nombre/23.jpg");
    
}
.vingtquatre {
    -fx-border-color: black;
    -fx-background-position: center;
    -fx-background-size: stretch;
    -fx-background-image: url("../images/nombre/24.jpg");
    
}
.vingtcinq {
    -fx-border-color: black;
    -fx-background-position: center;
    -fx-background-size: stretch;
    -fx-background-image: url("../images/nombre/25.jpg");
    
}
.vingtsix {
    -fx-border-color: black;
    -fx-background-position: center;
    -fx-background-size: stretch;
    -fx-background-image: url("../images/nombre/26.jpg");
    
}

